{% extends 'sonu1/index.html' %}

{% load static %}
{% block title %}
  About
{% endblock %}

{% block main %}
<div class="card text-bg-dark">
  <img src="{% static 'sonu1/images/banner/back.jpg' %}" class="card-img" style="opacity: 0.9;">
  <div class="card-img-overlay">
    <h1 class="text-white text-center py-5">About Us</h1>
<div class="container">
    <p class="text-white text-center pb-5">Welcome to Coffee Shop, where every cup tells a story.We are more than just a place to grab a coffee; we are a community hub where people come together over their love for exceptional brews.</p>

  <h3 class="text-white text-center pb-5">Our Commitment</h3>
  <p class="text-white text-center pb-5">We believe that great coffee should be paired with a great experience. That's why we've created a cozy, welcoming environment where you can relax, work, or catch up with friends. Our friendly staff is always ready to greet you with a smile and help you find your new favorite brew. We are committed to sustainability, using eco-friendly products and practices to reduce our environmental footprint.</p>

  <h3 class="text-white text-center pb-5">Visit Us</h3>
  <p class="text-white text-center pb-5">Whether you're a coffee aficionado or just looking for a comfortable place to unwind, Coffee Shop is the perfect spot. Come visit us and discover why we're the favorite coffee destination. We look forward to serving you and making your day a little brighter, one cup at a time.</p>
  </div>
</div>
</div>
{% endblock %}


