{% extends 'sonu1/index.html' %}

{% load static %}
{% block title %}
  About
{% endblock %}

{% block main %}
  <div class="img-fluid" alt="Descriptive text" style="background-repeat: no-repeat; background-size: cover; background-image: url("{% url"static/sonu1/images/banner/b1.jpg" %};")>
    <div class="container mt-0">
      <br><br><br>
      <h2 class="text-center">About Us</h2>
      <br />
      <div class="row container">
        <p class="fs-4 text-center">Welcome to Coffee Shop, your one-stop destination for premium coffee beans, accessories, and expert brewing advice. </p>
      </div>
      <br /><br />
      <h2 class="text-center"> Our Mission</h2>
      <br />
      <dir class="row container">
        <p class="fs-4 text-center">Our mission is simple: to provide coffee lovers with the finest selection of ethically sourced coffee beans from around the globe. We believe in supporting sustainable farming practices and building long-term relationships with coffee growers who share our commitment to quality and environmental stewardship.</p>
      </dir>
    </div>
  </div> 
{% endblock %}



