{% extends 'sonu1/index.html' %}

{% load static %}
{% block title %}
  profile
{% endblock %}

{% block main %}
  <div class="container mt-5">
    <h2 class="text-center">Profile</h2>
    <br />
    <div class="row container">
      <p class="fs-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa consequuntur dolorem odio magni perspiciatis minus, consectetur nam iste delectus provident autem assumenda perferendis illo ex optio ullam quasi expedita! Repudiandae?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa consequuntur dolorem odio magni perspiciatis minus, consectetur nam iste delectus provident autem assumenda perferendis illo ex optio ullam quasi expedita! Repudiandae?</p>
    </div>
    <br /><br />
    <h2 class="text-center">Mission</h2>
    <br />
    <dir class="row container">
      <p class="fs-4 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam necessitatibus magnam officia quisquam. Hic facere officia, itaque, quasi harum veniam quibusdam doloribus suscipit ratione laboriosam numquam eligendi, sequi quia sint.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa consequuntur dolorem odio magni perspiciatis minus, consectetur nam iste delectus provident autem assumenda perferendis illo ex optio ullam quasi expedita! Repudiandae?</p>
    </dir>
  </div>
{% endblock %}